body{
    font-family: 'Courier New', Courier, monospace;
    color: greenyellow;
    background-color: rgb(31, 31, 31);
    margin: 5%;
    
}

.heading{
display: flex;
}

.comment{
font-size: 12;
}

.post{

}